In [1]:
import numpy as np
import pandas as pd
data_original=pd.read_csv('train.csv')
target_data=data_original['SalePrice']
data_train=data_original.drop('SalePrice', axis = 1)


data_test=pd.read_csv('test.csv')
combine=[data_train,data_test]
data = pd.concat(combine)

# Data Analysis

1.Analyze by describing data

In [2]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 80 columns):
Id               2919 non-null int64
MSSubClass       2919 non-null int64
MSZoning         2915 non-null object
LotFrontage      2433 non-null float64
LotArea          2919 non-null int64
Street           2919 non-null object
Alley            198 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2917 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2918 non-null object
Exterior2nd      2918 non-null object
MasVnrType       2895 non-null object
MasVnrArea       2896 non-null float64
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtQual         2838 non-null object
BsmtCond         2837 non-null object
BsmtExposure     2837 non-null object
BsmtFinType1     2840 non-null object
BsmtFinSF1       2918 non-null float64
BsmtFinType2     2839 non-null object
BsmtFinSF2       2918 non-null float64
BsmtUnfSF        2918 non-null float64
TotalBsmtSF      2918 non-null float64
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2918 non-null object
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2917 non-null float64
BsmtHalfBath     2917 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2918 non-null object
TotRmsAbvGrd     2919 non-null int64
Functional       2917 non-null object
Fireplaces       2919 non-null int64
FireplaceQu      1499 non-null object
GarageType       2762 non-null object
GarageYrBlt      2760 non-null float64
GarageFinish     2760 non-null object
GarageCars       2918 non-null float64
GarageArea       2918 non-null float64
GarageQual       2760 non-null object
GarageCond       2760 non-null object
PavedDrive       2919 non-null object
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
PoolQC           10 non-null object
Fence            571 non-null object
MiscFeature      105 non-null object
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SaleType         2918 non-null object
SaleCondition    2919 non-null object
dtypes: float64(11), int64(26), object(43)
memory usage: 1.8+ MB

In [4]:
data.describe(include=['O'])

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,2915,2919,198,2919,2919,2917,2919,2919,2919,2919,...,2762,2760,2760,2760,2919,10,571,105,2918,2919
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
freq,2265,2907,120,1859,2622,2916,2133,2778,443,2511,...,1723,1230,2604,2654,2641,4,329,95,2525,2402

In [5]:
data_original.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [6]:
data_original.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

 2.Analyze by pivoting features

In [7]:
data_original[['MSZoning', 'SalePrice']].groupby(['MSZoning'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

  MSZoning      SalePrice
1       FV  214014.061538
3       RL  191004.994787
2       RH  131558.375000
4       RM  126316.830275
0  C (all)   74528.000000

In [8]:
data_original[['LotFrontage', 'SalePrice']].groupby(['LotFrontage'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)
#no obvious pattern,can be removed

     LotFrontage      SalePrice
105        160.0  745000.000000
75         104.0  473333.333333
87         118.0  415000.000000
102        150.0  375000.000000
78         107.0  342947.571429
82         111.0  342643.000000
68          97.0  331475.000000
79         108.0  322389.333333
107        174.0  319000.000000
81         110.0  311883.333333
67          96.0  297438.000000
84         114.0  282450.000000
57          86.0  279183.000000
74         103.0  274797.000000
106        168.0  274725.000000
64          93.0  260495.375000
62          91.0  260196.666667
76         105.0  260047.500000
108        182.0  259000.000000
69          98.0  258149.125000
93         129.0  258000.000000
60          89.0  254900.000000
13          42.0  253475.000000
54          83.0  249204.000000
9           38.0  245500.000000
72         101.0  245150.000000
18          47.0  243680.000000
86         116.0  240000.000000
20          49.0  239274.250000
10          39.0  236500.000000
..           ...            ...
5           34.0  174950.000000
101        149.0  174000.000000
94         130.0  173250.000000
38          67.0  170255.083333
103        152.0  164000.000000
2           30.0  160480.833333
42          71.0  160135.583333
6           35.0  156544.444444
88         120.0  155104.285714
29          58.0  153267.857143
85         115.0  152500.000000
41          70.0  151773.385714
8           37.0  150280.000000
92         128.0  149500.000000
1           24.0  145226.315789
83         112.0  145000.000000
11          40.0  144776.250000
28          57.0  144658.333333
25          54.0  143016.666667
7           36.0  142083.333333
98         140.0  141000.000000
26          55.0  132104.941176
23          52.0  130807.142857
22          51.0  128490.000000
31          60.0  128436.650350
21          50.0  122563.719298
4           33.0  113000.000000
0           21.0   94278.260870
16          45.0   80500.000000
104        153.0   52500.000000

[110 rows x 2 columns]

In [9]:
data_original[['LotArea', 'SalePrice']].groupby(['LotArea'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)
#no obvious pattern,can be removed

      LotArea  SalePrice
1029    21535   755000.0
966     15623   745000.0
1056    35760   625000.0
850     12919   611657.0
973     16056   556581.0
958     15431   555000.0
1065    53504   538000.0
1001    17423   501837.0
885     13518   485000.0
1036    22950   475000.0
908     13891   473445.0
719     11400   466500.0
880     13478   451950.0
950     14948   446261.0
952     14977   440000.0
894     13682   438780.0
1021    20431   437154.0
838     12692   430000.0
826     12474   426000.0
1024    20896   423000.0
931     14450   415298.0
895     13688   412500.0
941     14720   410000.0
537      9965   404420.0
953     15138   403000.0
799     12220   402861.0
1061    46589   402000.0
562     10159   395192.0
923     14226   395000.0
822     12444   394617.0
...       ...        ...
999     17217    84500.0
13       1974    83500.0
12       1953    83000.0
136      6040    82000.0
323      8410    81000.0
1010    18000    81000.0
1        1477    80000.0
794     12180    80000.0
87       4608    80000.0
130      5825    79900.0
117      5586    79900.0
73       4270    79000.0
154      6402    78000.0
108      5350    76500.0
2        1491    75500.0
14       2001    75000.0
102      5232    73000.0
160      6627    72500.0
150      6324    68500.0
404      8967    67000.0
125      5720    66500.0
134      5925    63685.5
311      8281    62383.0
548     10020    61000.0
303      8212    58500.0
119      5600    55000.0
51       3636    55000.0
68       4118    52500.0
69       4130    52000.0
264      7879    34900.0

[1073 rows x 2 columns]

In [10]:
data_original[['Street', 'SalePrice']].groupby(['Street'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

  Street      SalePrice
1   Pave  181130.538514
0   Grvl  130190.500000

In [11]:
data_original[['Alley', 'SalePrice']].groupby(['Alley'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

  Alley      SalePrice
1  Pave  168000.585366
0  Grvl  122219.080000

In [12]:
data_original[['LotShape', 'SalePrice']].groupby(['LotShape'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

  LotShape      SalePrice
1      IR2  239833.365854
2      IR3  216036.500000
0      IR1  206101.665289
3      Reg  164754.818378

In [13]:
data_original[['Neighborhood', 'SalePrice']].groupby(['Neighborhood'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

   Neighborhood      SalePrice
15      NoRidge  335295.317073
16      NridgHt  316270.623377
22      StoneBr  310499.000000
23       Timber  242247.447368
24      Veenker  238772.727273
21      Somerst  225379.837209
4       ClearCr  212565.428571
6       Crawfor  210624.725490
5       CollgCr  197965.773333
0       Blmngtn  194870.882353
8       Gilbert  192854.506329
14       NWAmes  189050.068493
20      SawyerW  186555.796610
11      Mitchel  156270.122449
12        NAmes  145847.080000
13      NPkVill  142694.444444
18        SWISU  142591.360000
1       Blueste  137500.000000
19       Sawyer  136793.135135
17      OldTown  128225.300885
7       Edwards  128219.700000
3       BrkSide  124834.051724
2        BrDale  104493.750000
9        IDOTRR  100123.783784
10      MeadowV   98576.470588

In [14]:
data_original[['LotConfig', 'SalePrice']].groupby(['LotConfig'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

  LotConfig      SalePrice
1   CulDSac  223854.617021
3       FR3  208475.000000
0    Corner  181623.425856
2       FR2  177934.574468
4    Inside  176938.047529

In [15]:
data_original[['OverallQual', 'SalePrice']].groupby(['OverallQual'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

   OverallQual      SalePrice
9           10  438588.388889
8            9  367513.023256
7            8  274735.535714
6            7  207716.423197
5            6  161603.034759
4            5  133523.347607
3            4  108420.655172
2            3   87473.750000
1            2   51770.333333
0            1   50150.000000

In [16]:
data_original[['YearBuilt', 'SalePrice']].groupby(['YearBuilt'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

     YearBuilt      SalePrice
111       2010  394432.000000
109       2008  348849.130435
7         1893  325000.000000
6         1892  291250.000000
90        1989  279500.000000
110       2009  269220.000000
96        1995  262194.444444
97        1996  259162.666667
108       2007  255362.734694
107       2006  251775.447761
82        1981  249880.000000
95        1994  247900.000000
102       2001  242630.000000
36        1932  233358.500000
106       2005  229680.953125
104       2003  227408.577778
103       2002  226869.565217
91        1990  220881.666667
37        1934  220766.666667
99        1998  220450.000000
93        1992  218384.615385
94        1993  218058.823529
98        1997  214925.000000
87        1986  212000.000000
101       2000  210766.666667
100       1999  210614.720000
105       2004  210347.722222
89        1988  204636.363636
2         1880  200619.750000
88        1987  198000.000000
..         ...            ...
83        1982  132400.000000
43        1940  131994.444444
40        1937  131974.200000
72        1971  131820.454545
15        1911  130000.000000
21        1917  129500.000000
29        1925  129190.625000
51        1950  128036.250000
35        1931  126650.000000
18        1914  126055.285714
30        1926  124144.444444
47        1946  122400.000000
0         1872  122000.000000
44        1941  120900.000000
16        1912  119466.666667
48        1947  117200.000000
24        1920  112903.333333
9         1900  112492.600000
14        1910  111959.058824
50        1949  111517.583333
4         1885  111250.000000
53        1952  110398.600000
26        1922  109237.500000
41        1938  109137.500000
8         1898  106000.000000
28        1924  105985.714286
34        1930  103588.888889
1         1875   94000.000000
17        1913   90350.000000
31        1927   82666.666667

[112 rows x 2 columns]

In [17]:
data_original[['YearRemodAdd', 'SalePrice']].groupby(['YearRemodAdd'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

    YearRemodAdd      SalePrice
60          2010  336963.500000
59          2009  284085.391304
58          2008  269709.100000
56          2006  229471.134021
57          2007  224807.250000
43          1993  221994.947368
44          1994  217231.818182
52          2002  215085.416667
47          1997  214251.600000
46          1996  212588.194444
55          2005  210542.931507
37          1987  209790.000000
48          1998  206865.277778
45          1995  206832.258065
49          1999  203667.266667
40          1990  200042.000000
39          1989  198318.181818
54          2004  195123.225806
53          2003  194896.862745
51          2001  190666.666667
38          1988  190533.333333
36          1986  189400.000000
50          2000  186388.272727
34          1984  184928.571429
41          1991  184714.285714
31          1981  184425.000000
25          1975  174652.400000
42          1992  171611.764706
35          1985  167611.111111
26          1976  159868.500000
..           ...            ...
14          1964  159218.181818
27          1977  158702.000000
28          1978  158362.500000
19          1969  157297.071429
30          1980  154812.500000
18          1968  153095.882353
29          1979  150357.200000
16          1966  149914.666667
3           1953  147640.000000
12          1962  145471.428571
10          1960  145212.500000
15          1965  143951.736842
13          1963  139765.384615
20          1970  139367.307692
23          1973  139081.818182
33          1983  136880.000000
9           1959  136054.555556
7           1957  132656.444444
11          1961  131881.250000
17          1967  131458.333333
1           1951  129975.000000
8           1958  128386.666667
22          1972  127330.000000
5           1955  124511.111111
6           1956  124235.000000
32          1982  121271.428571
4           1954  121142.857143
21          1971  120230.555556
0           1950  117463.056180
2           1952  110398.600000

[61 rows x 2 columns]

In [18]:
data_original[['MasVnrArea', 'SalePrice']].groupby(['MasVnrArea'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)
#no obvious pattern,can be removed

     MasVnrArea  SalePrice
324      1170.0   755000.0
325      1378.0   625000.0
306       760.0   611657.0
290       603.0   538000.0
305       748.0   501837.0
314       860.0   485000.0
303       705.0   466500.0
320      1031.0   438780.0
315       870.0   437154.0
247       424.0   427466.5
207       315.0   415298.0
301       664.0   412500.0
286       579.0   410000.0
273       506.0   403000.0
276       528.0   402000.0
258       450.0   395192.0
231       375.0   395000.0
249       426.0   394617.0
136       208.0   393827.0
318       922.0   386250.0
313       816.0   385000.0
295       632.0   381000.0
310       772.0   380000.0
280       562.0   374000.0
263       464.0   372500.0
253       436.0   372402.0
308       766.0   367294.0
264       466.0   361919.0
237       388.0   354000.0
186       286.0   345000.0
..          ...        ...
68        114.0   137000.0
282       567.0   137000.0
281       564.0   135000.0
96        151.0   135000.0
31         64.0   134450.0
23         50.0   132500.0
48         89.0   130000.0
151       232.0   128700.0
28         57.0   128500.0
126       192.0   126750.0
167       255.0   125000.0
131       203.0   124050.0
232       376.0   122500.0
11         31.0   122000.0
39         75.0   120250.0
135       207.0   120000.0
193       294.0   119000.0
274       510.0   118000.0
87        142.0   112000.0
103       161.0   110000.0
32         65.0   110000.0
17         41.0   109900.0
78        127.0   106000.0
22         48.0    94750.0
196       297.0    94500.0
291       604.0    89500.0
252       435.0    89471.0
235       381.0    88000.0
241       408.0    83000.0
137       209.0    82500.0

[327 rows x 2 columns]

In [19]:
data_original[['BsmtFinSF1', 'SalePrice']].groupby(['BsmtFinSF1'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)
#no obvious pattern,can be removed

     BsmtFinSF1  SalePrice
611        1455   755000.0
633        2096   745000.0
597        1387   625000.0
634        2188   611657.0
79          240   556581.0
629        1767   555000.0
603        1416   538000.0
632        1904   501837.0
575        1282   466500.0
596        1386   465000.0
589        1338   451950.0
585        1330   446261.0
590        1350   440000.0
560        1231   430000.0
574        1280   426000.0
537        1150   424870.0
628        1721   423000.0
348         689   403000.0
605        1436   402861.0
593        1361   402000.0
626        1646   395192.0
588        1336   394617.0
609        1445   394432.0
616        1480   392500.0
602        1410   391077.0
625        1636   385000.0
630        1810   385000.0
485         984   383970.0
54          192   381000.0
583        1320   377500.0
..          ...        ...
478         969   107500.0
186         422   107000.0
214         468   106500.0
121         321   106000.0
60          204   105000.0
263         551   103600.0
127         330   100000.0
77          236    95000.0
199         440    95000.0
242         520    94750.0
64          212    93500.0
147         365    90350.0
143         358    89500.0
223         489    88000.0
302         614    88000.0
94          273    88000.0
123         324    87000.0
28          116    87000.0
239         515    86000.0
31          129    85000.0
32          131    84500.0
102         290    84000.0
113         309    83000.0
26          108    83000.0
135         348    83000.0
90          262    82500.0
235         509    80000.0
37          150    75500.0
12           41    67000.0
59          203    58500.0

[637 rows x 2 columns]

In [20]:
data_original[['BsmtFinSF2', 'SalePrice']].groupby(['BsmtFinSF2'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)
#no obvious pattern,can be removed

     BsmtFinSF2  SalePrice
127         820   375000.0
99          539   364950.0
143        1474   301000.0
8            80   299800.0
135        1031   294000.0
77          400   287000.0
88          479   284000.0
36          177   271900.0
136        1057   270000.0
128         823   268000.0
7            68   262500.0
28          150   259500.0
138        1063   241500.0
46          215   239000.0
113         634   238000.0
139        1080   235000.0
40          184   235000.0
133         972   232000.0
6            64   231500.0
102         547   230000.0
42          202   229000.0
97          531   228000.0
86          469   225250.0
39          182   223750.0
26          147   223225.0
104         557   220000.0
130         869   217000.0
142        1127   213250.0
141        1120   212000.0
66          344   212000.0
..          ...        ...
34          174   129900.0
11           96   129500.0
27          149   129000.0
111         627   129000.0
52          240   129000.0
123         723   129000.0
38          181   127500.0
33          173   127000.0
85          468   125950.0
18          121   125000.0
114         645   125000.0
131         872   124000.0
20          125   120500.0
51          239   120500.0
121         712   119100.0
54          264   119000.0
84          466   117500.0
79          420   117000.0
5            41   116000.0
106         600   115000.0
32          169   115000.0
21          127   107000.0
89          480   105500.0
12          105   105000.0
74          380    95000.0
55          273    88000.0
50          232    85000.0
83          465    85000.0
94          499    84500.0
62          311    62383.0

[144 rows x 2 columns]

In [21]:
data_original[['BsmtUnfSF', 'SalePrice']].groupby(['BsmtUnfSF'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)
#no obvious pattern,can be removed

     BsmtUnfSF      SalePrice
588        989  755000.000000
348        543  625000.000000
69         142  611657.000000
759       1734  582933.000000
760       1752  556581.000000
491        788  555000.000000
771       1926  485000.000000
631       1107  475000.000000
691       1351  466500.000000
427        690  465000.000000
707       1410  438780.000000
280        438  437154.000000
773       1969  430000.000000
777       2121  415298.000000
659       1217  410000.000000
481        773  403000.000000
772       1935  395000.000000
53         120  392500.000000
779       2336  386250.000000
283        442  385000.000000
778       2153  380000.000000
774       2002  378500.000000
776       2046  372500.000000
404        645  370878.000000
343        537  359100.000000
84         166  354000.000000
132        234  348450.000000
347        542  345000.000000
95         177  345000.000000
667       1249  342643.000000
..         ...            ...
393        624  101950.000000
340        530  101000.000000
205        333  100500.000000
54         121  100366.666667
351        546  100300.000000
461        740  100000.000000
576        968  100000.000000
555        918   99500.000000
413        661   98750.000000
398        635   98600.000000
344        538   95000.000000
312        483   94500.000000
346        540   91664.333333
506        810   91500.000000
594       1007   91000.000000
460        739   89471.000000
428        691   86000.000000
598       1013   85000.000000
6           30   84500.000000
362        564   82500.000000
447        721   82000.000000
489        784   76000.000000
423        680   73000.000000
497        796   70000.000000
573        961   67000.000000
514        823   67000.000000
410        656   64500.000000
430        693   52500.000000
406        649   40000.000000
275        430   35311.000000

[780 rows x 2 columns]

In [22]:
data_original[['TotalBsmtSF', 'SalePrice']].groupby(['TotalBsmtSF'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

     TotalBsmtSF      SalePrice
713         2444  755000.000000
712         2396  745000.000000
710         2330  611657.000000
690         1992  556581.000000
716         3094  555000.000000
682         1930  510096.000000
707         2216  501837.000000
681         1926  485000.000000
715         2633  466500.000000
698         2076  465000.000000
646         1722  451950.000000
534         1452  446261.000000
687         1976  440000.000000
516         1410  438780.000000
671         1848  437154.000000
718         3200  430000.000000
699         2077  423000.000000
703         2121  415298.000000
694         2033  410000.000000
693         2006  402861.000000
615         1629  402000.000000
684         1935  395000.000000
683         1932  394617.000000
672         1856  394432.000000
602         1600  392500.000000
521         1419  392000.000000
650         1734  386977.666667
711         2392  386250.000000
700         2078  385000.000000
668         1842  385000.000000
..           ...            ...
17           483   96628.571429
12           440   95283.333333
256          974   93500.000000
151          811   93000.000000
53           630   92944.444444
2            190   91300.000000
14           462   91000.000000
282         1007   91000.000000
68           662   90000.000000
6            319   89500.000000
22           525   88000.000000
30           546   85875.000000
26           536   85000.000000
291         1022   85000.000000
13           458   83000.000000
11           420   82500.000000
98           721   82000.000000
65           658   81000.000000
281         1006   80000.000000
59           649   80000.000000
29           544   79000.000000
28           540   67496.500000
245          961   67000.000000
72           676   66500.000000
64           656   64500.000000
74           683   61000.000000
5            290   60000.000000
80           693   52500.000000
4            270   52000.000000
15           480   35311.000000

[721 rows x 2 columns]

In [23]:
data_original[['1stFlrSF', 'SalePrice']].groupby(['1stFlrSF'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

     1stFlrSF      SalePrice
745      2444  755000.000000
744      2411  745000.000000
686      1831  625000.000000
741      2364  611657.000000
713      1992  556581.000000
743      2402  555000.000000
643      1690  538000.000000
739      2234  501837.000000
707      1966  485000.000000
748      2633  466500.000000
724      2076  465000.000000
710      1976  440000.000000
511      1426  438780.000000
692      1848  437154.000000
751      3228  430000.000000
726      2097  423000.000000
730      2121  415298.000000
721      2053  410000.000000
543      1490  403000.000000
709      1973  395000.000000
703      1932  394617.000000
694      1856  394432.000000
507      1419  392000.000000
666      1734  386977.666667
742      2392  386250.000000
725      2084  385000.000000
690      1842  385000.000000
439      1282  383970.000000
708      1968  381000.000000
536      1476  379630.500000
..        ...            ...
25        630   92944.444444
86        784   92750.000000
295      1077   92000.000000
153       886   91300.000000
8         526   91000.000000
214       968   89833.333333
262      1035   89500.000000
335      1131   89471.000000
252      1015   88000.000000
7         525   88000.000000
19        605   86000.000000
250      1013   85000.000000
9         536   85000.000000
186       930   84900.000000
121       835   83000.000000
503      1411   82500.000000
138       861   82500.000000
10        546   82166.666667
27        658   81000.000000
63        747   79950.000000
156       889   79000.000000
17        596   78000.000000
34        676   66500.000000
2         438   60000.000000
269      1044   55993.000000
1         372   55000.000000
42        693   52500.000000
26        649   40000.000000
0         334   39300.000000
3         480   35311.000000

[753 rows x 2 columns]

In [24]:
data_original[['2ndFlrSF', 'SalePrice']].groupby(['2ndFlrSF'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

     2ndFlrSF  SalePrice
415      1872   755000.0
416      2065   745000.0
413      1796   625000.0
330      1088   582933.0
411      1589   538000.0
359      1174   485000.0
406      1518   475000.0
374      1237   446261.0
407      1519   438780.0
94        590   426000.0
398      1362   424870.0
333      1096   412500.0
364      1185   410000.0
386      1304   403000.0
401      1414   383970.0
405      1479   381000.0
182       762   376000.0
247       876   365290.5
388      1312   361919.0
392      1332   354000.0
300       985   348000.0
394      1347   342643.0
332      1093   341000.0
311      1028   339750.0
334      1097   337000.0
393      1336   336000.0
382      1281   335000.0
321      1054   335000.0
287       954   328000.0
372      1218   325300.0
..        ...        ...
11        299   109000.0
81        567   108000.0
34        439   108000.0
63        527   107500.0
304       994   107500.0
57        518   107000.0
323      1063   106000.0
10        272   104900.0
41        457   104900.0
278       929   104000.0
14        319   102776.0
9         252   101450.0
20        351   100000.0
35        441    98000.0
18        348    96500.0
70        546    95437.5
50        495    95000.0
38        454    91500.0
42        462    91000.0
24        371    89500.0
86        576    89000.0
8         240    87250.0
17        336    87000.0
134       679    87000.0
62        526    81000.0
1         110    79900.0
61        524    79000.0
31        430    68400.0
39        455    66500.0
22        368    37900.0

[417 rows x 2 columns]

In [25]:
# try combine 2ndFlrSF ,1stFlrSF,LowQualFinSF and GrLivArea
data_original['FlrSF'] =data_original['1stFlrSF'] + data_original['2ndFlrSF']+ data_original['LowQualFinSF']+ data_original['GrLivArea']
data_original[['FlrSF', 'SalePrice']].groupby(['FlrSF'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

     FlrSF      SalePrice
857   8632  755000.000000
858   8952  745000.000000
856   7254  625000.000000
772   4728  611657.000000
836   5644  582933.000000
838   5736  556581.000000
780   4804  555000.000000
851   6558  538000.000000
744   4468  501837.000000
846   6280  485000.000000
855   7216  475000.000000
817   5266  466500.000000
695   4152  465000.000000
761   4592  451950.000000
826   5426  446261.000000
657   3952  440000.000000
841   5890  438780.000000
829   5456  437154.000000
849   6456  430000.000000
765   4664  426000.000000
837   5656  424870.000000
712   4242  415298.000000
823   5336  412500.000000
850   6476  410000.000000
834   5588  403000.000000
786   4896  402000.000000
638   3880  395192.000000
656   3946  395000.000000
633   3864  394617.000000
604   3712  394432.000000
..     ...            ...
118   2044   85000.000000
77    1860   84900.000000
17    1508   84500.000000
6     1260   83166.666667
40    1670   83000.000000
345   2822   82500.000000
12    1416   82500.000000
49    1722   82500.000000
43    1682   82000.000000
83    1888   82000.000000
213   2368   81000.000000
113   2012   80000.000000
15    1494   79950.000000
219   2396   79900.000000
22    1548   79000.000000
182   2262   77985.500000
18    1528   73000.000000
13    1440   71100.000000
30    1592   70000.000000
3     1040   68500.000000
94    1936   67466.666667
1      876   60000.000000
267   2552   60000.000000
31    1600   60000.000000
127   2088   55993.000000
9     1386   52500.000000
14    1458   52000.000000
289   2634   40000.000000
0      668   39300.000000
2      960   35311.000000

[861 rows x 2 columns]

In [26]:
data_original[['BsmtFullBath', 'SalePrice']].groupby(['BsmtFullBath'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

   BsmtFullBath      SalePrice
2             2  213063.066667
1             1  202522.918367
3             3  179000.000000
0             0  165521.640187

In [27]:
data_original[['BsmtHalfBath', 'SalePrice']].groupby(['BsmtHalfBath'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

   BsmtHalfBath      SalePrice
0             0  181230.330189
1             1  176098.125000
2             2  160850.500000

In [28]:
data_original[['FullBath', 'SalePrice']].groupby(['FullBath'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

   FullBath      SalePrice
3         3  347822.909091
2         2  213009.825521
0         0  165200.888889
1         1  134751.440000

In [29]:
data_original[['HalfBath', 'SalePrice']].groupby(['HalfBath'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)
#no obvious pattern,can be removed

   HalfBath      SalePrice
1         1  212721.960748
0         0  162534.884995
2         2  162028.916667

In [30]:
data_original[['KitchenQual', 'SalePrice']].groupby(['KitchenQual'], as_index=False).mean().sort_values(by='SalePrice', ascending=False)

  KitchenQual      SalePrice
0          Ex  328554.670000
2          Gd  212116.023891
3          TA  139962.511565
1          Fa  105565.205128

# Wrangle Data

1,Dealing with missing values

In [31]:
raw_data=data.drop('Id', axis = 1)

In [32]:
#drop feature without obvious pattern
raw_data=raw_data.drop('LotFrontage', axis = 1)
raw_data=raw_data.drop('LotArea', axis = 1)
raw_data=raw_data.drop('MasVnrArea', axis = 1)
raw_data=raw_data.drop('BsmtFinSF1', axis = 1)
raw_data=raw_data.drop('BsmtFinSF2', axis = 1)
raw_data=raw_data.drop('BsmtUnfSF', axis = 1)
raw_data=raw_data.drop('HalfBath', axis = 1)

In [33]:
#drop "Alley" as it has only 91 entries
raw_data=raw_data.drop('Alley', axis = 1)

In [34]:
# replace miss values of 'MasVnrType' with its mode
print(raw_data['MasVnrType'].mode())
raw_data.loc[ raw_data.MasVnrType.isnull(),'MasVnrType'] ='None'

0    None
dtype: object

In [35]:
# replace miss values of 'BsmtQual' with its mode
print(raw_data['BsmtQual'].mode())
raw_data.loc[ raw_data.BsmtQual.isnull(),'BsmtQual'] ='TA'

0    TA
dtype: object

In [36]:
# replace miss values of 'BsmtCond' with its mode
print(raw_data['BsmtCond'].mode())
raw_data.loc[ raw_data.BsmtCond.isnull(),'BsmtCond'] ='TA'

0    TA
dtype: object

In [37]:
# replace miss values of 'BsmtExposure' with its mode
print(raw_data['BsmtExposure'].mode())
raw_data.loc[ raw_data.BsmtExposure.isnull(),'BsmtExposure'] ='No'

0    No
dtype: object

In [38]:
# replace miss values of 'BsmtFinType1' with its mode
print(raw_data['BsmtFinType1'].mode())
raw_data.loc[ raw_data.BsmtFinType1.isnull(),'BsmtFinType1'] ='Unf'

0    Unf
dtype: object

In [39]:
# replace miss values of 'BsmtFinType2' with its mode
print(raw_data['BsmtFinType2'].mode())
raw_data.loc[ raw_data.BsmtFinType2.isnull(),'BsmtFinType2'] ='Unf'

0    Unf
dtype: object

In [40]:
# replace miss values of 'BElectrical' with its mode
print(raw_data['Electrical'].mode())
raw_data.loc[ raw_data.Electrical.isnull(),'Electrical'] ='SBrkr'

0    SBrkr
dtype: object

In [41]:
#drop "FireplaceQu" as it has only 770 entries
raw_data=raw_data.drop('FireplaceQu', axis = 1)

In [42]:
# replace miss values of 'GarageType' with its mode
print(raw_data['GarageType'].mode())
raw_data.loc[ raw_data.GarageType.isnull(),'GarageType'] ='Attchd'

0    Attchd
dtype: object

In [43]:
# replace miss values of 'GarageYrBlt' with its mode
print(raw_data['GarageYrBlt'].mode())
raw_data.loc[ raw_data.GarageYrBlt.isnull(),'GarageYrBlt'] =2005.0

0    2005.0
dtype: float64

In [44]:
# replace miss values of 'GarageQual' with its mode
print(raw_data['GarageQual'].mode())
raw_data.loc[ raw_data.GarageQual.isnull(),'GarageQual'] ='TA'

0    TA
dtype: object

In [45]:
# replace miss values of 'GarageFinish' with its mode
print(raw_data['GarageFinish'].mode())
raw_data.loc[ raw_data.GarageFinish.isnull(),'GarageFinish'] ='Unf'

0    Unf
dtype: object

In [46]:
# replace miss values of 'GarageCond' with its mode
print(raw_data['GarageCond'].mode())
raw_data.loc[ raw_data.GarageCond.isnull(),'GarageCond'] ='TA'

0    TA
dtype: object

In [47]:
#drop "PoolQC " as it has only 7 entries
raw_data=raw_data.drop('PoolQC', axis = 1)

In [48]:
#drop "Fence " as it has only 281 entries
raw_data=raw_data.drop('Fence', axis = 1)

In [49]:
#drop "MiscFeature  " as it has only 54 entries
raw_data=raw_data.drop('MiscFeature', axis = 1)

In [50]:
# replace miss values of 'BsmtFullBath' with its mode
print(raw_data['BsmtFullBath'].mode())
raw_data.loc[ raw_data.BsmtFullBath.isnull(),'BsmtFullBath'] =0.0

0    0.0
dtype: float64

In [51]:
# replace miss values of 'BsmtHalfBath' with its mode
print(raw_data['BsmtHalfBath'].mode())
raw_data.loc[ raw_data.BsmtHalfBath.isnull(),'BsmtHalfBath'] =0.0

0    0.0
dtype: float64

In [52]:
# replace miss values of 'Exterior1st' with its mode
print(raw_data['Exterior1st'].mode())
raw_data.loc[ raw_data.Exterior1st.isnull(),'Exterior1st'] ='VinylSd'

0    VinylSd
dtype: object

In [53]:
# replace miss values of 'Exterior2nd ' with its mode
print(raw_data['Exterior2nd'].mode())
raw_data.loc[ raw_data.Exterior2nd .isnull(),'Exterior2nd'] ='VinylSd'

0    VinylSd
dtype: object

In [54]:
# replace miss values of 'Functional' with its mode
print(raw_data['Functional'].mode())
raw_data.loc[ raw_data.Functional.isnull(),'Functional'] ='Typ'

0    Typ
dtype: object

In [55]:
# replace miss values of 'GarageArea' with its mode
print(raw_data['GarageArea'].mode())
raw_data.loc[ raw_data.GarageArea.isnull(),'GarageArea'] =0.0

0    0.0
dtype: float64

In [56]:
# replace miss values of 'GarageCars' with its mode
print(raw_data['GarageCars'].mode())
raw_data.loc[ raw_data.GarageCars.isnull(),'GarageCars'] =2.0

0    2.0
dtype: float64

In [57]:
# replace miss values of 'GarageCars' with its mode
print(raw_data['GarageCars'].mode())
raw_data.loc[ raw_data.GarageCars.isnull(),'GarageCars'] =2.0

0    2.0
dtype: float64

In [58]:
# replace miss values of 'KitchenQual' with its mode
print(raw_data['KitchenQual'].mode())
raw_data.loc[ raw_data.KitchenQual.isnull(),'KitchenQual'] ='TA'

0    TA
dtype: object

In [59]:
# replace miss values of 'MSZoning' with its mode
print(raw_data['MSZoning'].mode())
raw_data.loc[ raw_data.MSZoning.isnull(),'MSZoning'] ='RL'

0    RL
dtype: object

In [60]:
# replace miss values of 'SaleType' with its mode
print(raw_data['SaleType'].mode())
raw_data.loc[ raw_data.SaleType.isnull(),'SaleType'] ='WD'

0    WD
dtype: object

In [61]:
# replace miss values of 'TotalBsmtSF' with its mode
print(raw_data['TotalBsmtSF'].mode())
raw_data.loc[ raw_data.TotalBsmtSF.isnull(),'TotalBsmtSF'] =0.0

0    0.0
dtype: float64

In [62]:
# replace miss values of 'Utilities' with its mode
print(raw_data['Utilities'].mode())
raw_data.loc[ raw_data.Utilities.isnull(),'Utilities'] ='AllPub'

0    AllPub
dtype: object

In [63]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 0 to 1458
Data columns (total 67 columns):
MSSubClass       2919 non-null int64
MSZoning         2919 non-null object
Street           2919 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2919 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2919 non-null object
Exterior2nd      2919 non-null object
MasVnrType       2919 non-null object
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtQual         2919 non-null object
BsmtCond         2919 non-null object
BsmtExposure     2919 non-null object
BsmtFinType1     2919 non-null object
BsmtFinType2     2919 non-null object
TotalBsmtSF      2919 non-null float64
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2919 non-null object
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2919 non-null float64
BsmtHalfBath     2919 non-null float64
FullBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2919 non-null object
TotRmsAbvGrd     2919 non-null int64
Functional       2919 non-null object
Fireplaces       2919 non-null int64
GarageType       2919 non-null object
GarageYrBlt      2919 non-null float64
GarageFinish     2919 non-null object
GarageCars       2919 non-null float64
GarageArea       2919 non-null float64
GarageQual       2919 non-null object
GarageCond       2919 non-null object
PavedDrive       2919 non-null object
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SaleType         2919 non-null object
SaleCondition    2919 non-null object
dtypes: float64(6), int64(23), object(38)
memory usage: 1.5+ MB

2.creating new features

In [221]:
#combine '1stFlrSF' , '2ndFlrSF', 'LowQualFinSF' and 'GrLivArea'to 'FlrSF'
raw_data['FlrSF'] =raw_data['1stFlrSF'] + raw_data['2ndFlrSF']+raw_data['LowQualFinSF']+ raw_data['GrLivArea']
raw_data=raw_data.drop('1stFlrSF', axis = 1)
raw_data=raw_data.drop('2ndFlrSF', axis = 1)
raw_data=raw_data.drop('LowQualFinSF', axis = 1)
raw_data=raw_data.drop('GrLivArea', axis = 1)

3ï¼ŒNormalizing Numerical Features

In [64]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numerical = list(raw_data.select_dtypes(include=['int64']).columns.values)+list(raw_data.select_dtypes(include=['float64']).columns.values)
print(numerical)

# Log-transform the skewed features
raw_data[numerical] = raw_data[numerical].apply(lambda x: np.log(x + 1))

raw_data[numerical] = scaler.fit_transform(raw_data[numerical])

['MSSubClass', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'FullBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'GarageYrBlt', 'GarageCars', 'GarageArea']

In [65]:
raw_data.head()

,MSSubClass,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0.483003,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,0.624312,0.000000,0.0,0.0,0.0,0.0,0.216618,0.500249,WD,Normal
1,0.000000,RL,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.586928,0.250187,WD,Normal
2,0.483003,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,0.568957,0.000000,0.0,0.0,0.0,0.0,0.859833,0.500249,WD,Normal
3,0.551764,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,0.542079,0.810539,0.0,0.0,0.0,0.0,0.216618,0.000000,WD,Abnorml
4,0.483003,RL,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,0.672040,0.000000,0.0,0.0,0.0,0.0,1.000000,0.500249,WD,Normal

3.Converting a categorical feature with labelEncoder

In [66]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

categorical=list(raw_data.select_dtypes(include=['object']).columns.values)
print(categorical)
for value in categorical:
    le.fit(raw_data[value])
    raw_data[value]=le.transform(raw_data[value])
raw_data.head()

['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'SaleType', 'SaleCondition']

,MSSubClass,MSZoning,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,0.483003,3,1,3,3,0,4,0,5,2,...,0.624312,0.000000,0.0,0.0,0.0,0.0,0.216618,0.500249,8,4
1,0.000000,3,1,3,3,0,2,0,24,1,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.586928,0.250187,8,4
2,0.483003,3,1,0,3,0,4,0,5,2,...,0.568957,0.000000,0.0,0.0,0.0,0.0,0.859833,0.500249,8,4
3,0.551764,3,1,0,3,0,0,0,6,2,...,0.542079,0.810539,0.0,0.0,0.0,0.0,0.216618,0.000000,8,0
4,0.483003,3,1,0,3,0,2,0,15,2,...,0.672040,0.000000,0.0,0.0,0.0,0.0,1.000000,0.500249,8,4

4.Shuffle and Split Data

In [67]:
from sklearn.cross_validation import train_test_split
feature_train_all=raw_data[:1460]
feature_test=raw_data[1460:]
X_train, X_test, y_train, y_test = train_test_split(feature_train_all,target_data, test_size = 0.2, random_state = 0)

/Users/yanhuan/anaconda/envs/tensorflow/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Modeling

1,using train_predict pipeline to choose the best model

In [68]:
# TODO: Import two metrics from sklearn - fbeta_score and accuracy_score
from sklearn.metrics import r2_score
import numpy as np
import pandas as pd

def train_predict(learner, X_train, y_train, X_test, y_test): 
    '''
    inputs:
       - learner: the learning algorithm to be trained and predicted on
       - sample_size: the size of samples (number) to be drawn from training set
       - X_train: features training set
       - y_train: income training set
       - X_test: features testing set
       - y_test: income testing set
    '''
    
    results = {}
    learner = learner.fit(X_train,y_train)
    predictions_test = learner.predict(X_test) 
    # TODO: Compute accuracy on test set
    results['R2_test'] = r2_score(y_test,predictions_test)
        
    # Return the results
    return results

In [69]:
from sklearn import linear_model
from sklearn import svm
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor

# TODO: Initialize the three models
clf_A = linear_model.Ridge (random_state=1)
clf_B = svm.SVR(kernel='linear')
clf_C = svm.SVR(kernel='rbf')
clf_D=AdaBoostRegressor(random_state=1)
clf_E=RandomForestRegressor(random_state=1)


# Collect results on the learners
results = {}
for clf in [clf_A, clf_B, clf_C, clf_D, clf_E]:
    clf_name = clf.__class__.__name__
    results[clf_name] = train_predict(clf, X_train, y_train, X_test, y_test)

In [70]:
print(results)

{'SVR': {'R2_test': -0.048525602940433066}, 'Ridge': {'R2_test': 0.73643477338944496}, 'AdaBoostRegressor': {'R2_test': 0.78700856758719628}, 'RandomForestRegressor': {'R2_test': 0.8258687437490676}}

3,tune model

In [71]:
from sklearn.metrics import make_scorer
from sklearn.ensemble import RandomForestRegressor
from sklearn import grid_search
from sklearn.metrics import r2_score
from sklearn.model_selection import ShuffleSplit

def fit_model(X, y):
    """ Performs grid search over the 'max_depth' parameter for a 
        decision tree regressor trained on the input data [X, y]. """
    
    # Create cross-validation sets from the training data
    # For Balance Data
    #cv_sets = ShuffleSplit(X.shape[0], n_splits = 10, test_size = 0.20, random_state = 0)
    
    
    
    # TODO: Create a decision tree regressor object
    regressor =  RandomForestRegressor(random_state=0)

    # TODO: Create a dictionary for the parameter 'max_depth' with a range from 1 to 10
    params = {'n_estimators':range(10,200,10)}

    # TODO: Transform 'performance_metric' into a scoring function using 'make_scorer' 
    scoring_fnc = make_scorer(r2_score)

    # TODO: Create the grid search object
    grid =grid_search.GridSearchCV(regressor, params,scoring_fnc)
    
    # Fit the grid search object to the data to compute the optimal model
    grid = grid.fit(X, y)

    # Return the optimal model after fitting the data
    return grid.best_estimator_

/Users/yanhuan/anaconda/envs/tensorflow/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [ ]:
model=fit_model(X_train, y_train,)

In [ ]:
print(model.get_params()['n_estimators'])

In [233]:
y_predict=model.predict(X_train)

In [234]:
print(r2_score(y_train,y_predict))

0.979699049501

In [235]:
Y_pred=model.predict(feature_test)

In [236]:
submission = pd.DataFrame({
        "Id": data_test["Id"],
        "SalePrice": Y_pred
    })
submission.to_csv('submission.csv', index=False)